<div class="container-fluid py-3 px-4 bg-dark d-flex justify-content-between">
  <div>
    <a class="text-decoration-none text-white fs-5" routerLink="/">Review Angular</a>
  </div>
  <div class="d-flex justify-content-between">
    <a class="text-decoration-none text-white fs-5" routerLink="/users">Usuarios</a>
    <a class="text-decoration-none ms-3 text-white fs-5" routerLink="/vehicles">Vehiculos</a>
    <a class="text-decoration-none ms-3 text-white fs-5" routerLink="/marks">Marcas</a>
    <a class="text-decoration-none ms-3 text-white fs-5" routerLink="/municipality">Municipios</a>
  </div>
</div>
