<div>
  <div class="modal-header py-2 align-items-center">
    <h5 class="text-center m-0 p-0">Añadir Municipio</h5>
    <fa-icon class="close pull-right cursor" size="1x" (click)="hideModal()" [icon]="faTimes"></fa-icon>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" (submit)="onSubmit()" >
      <label class="mt-1">Nombre</label>
      <input type="text" class="form-control my-2" formControlName="name">

      <label class="mt-1">Año</label>
      <input type="text" class="form-control my-2" formControlName="year">

      <label class="mt-1">Marca</label>
      <select  class="form-control my-2" formControlName="markId">
        <option *ngFor="let item of itemsMark" [value]="item.id">{{item?.name}}</option>
      </select>

      <label class="mt-1">Usuario</label>
      <select  class="form-control my-2" formControlName="userId">
        <option *ngFor="let item of itemsUser" [value]="item.id">{{item?.name}}</option>
      </select>

      <div class="text-center">
        <button type="submit" class="btn btn-outline-success" [disabled]="!form.valid">Guardar</button>
      </div>

    </form>
  </div>
</div>

